{% extends 'usuarios/base.html' %}
{% block conteudo %}

<div class="container">
    <h1 class="container" style="text-align: center;">Lista de Cadastro</h1><br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>Animal</th>
            <th>Especie</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <th>{{usuario.id_usuario}}</th>
            <th>{{usuario.animal}}</th>
            <th>{{usuario.especie}}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}